/PruebaJava/nbproject/private/
/PruebaJava/PruebaJava-war/nbproject/private/
/PruebaJava/PruebaJava-ejb/nbproject/private/
/PruebaJava/PruebaJava-ejb/build/
/PruebaJava/PruebaJava-ejb/dist/
/PruebaJava/PruebaJava-war/build/
/PruebaJava/dist/
/PruebaJava/build/
/PruebaJava/PruebaJava-war/dist/